@import "tailwindcss";


/* tailwind.css or global.css */
.scrollbar-none::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, Edge */
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}